<div class="field" style="display: inline-block;">
  <%= f.label :image %>
    <div id="img_field" onClick="$('#file').click()" >
      <% if @user.image.url.present? %>
        <%= image_tag(@user.image.url,class: "user-image") %>
      <% else %>
        <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <p>デフォルト画像</p>
      <% end %>
    </div>
  <%= f.file_field :image, class: "image", style: "display:none;", id: "file" %>
</div>

<script>
$(function(){
  $fileField = $('#file')
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#img_field");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview user-image margin",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});
</script>