<% provide(:title, "国一覧") %>

<div class="container">
  <div>パンクず</div>
  <div class="row">
    <% @countries_data.each do |country|%>
      <div class="rowwwww">
        <img src="https://flagpedia.net/data/flags/h120/<%=country[1].downcase%>.webp">
        <%=link_to country[0],"/countries/country?name=#{country[0]}"%>
        
      </div><hr>
    <%end%>
  </div>
</div>