<html lang="ja">
  <style>
    #maps{ height: 600px;
           width:  100%; }
  </style>
  <div class="container mx-auto" style="width: 1000px;">
    <div id="maps"></div>
  </div>
  <script src="//maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap&language=ja&libraries=places" async></script>
  <script>
    function initMap() {
      var mapPosition = {lat: 35.6811673, lng: 139.7670516};
      var mapArea = document.getElementById('maps');
      var mapOptions = {
        center: mapPosition,
        zoom: 2,
        mapTypeControl: false,
        fullscreenControl: false,
        streetViewControl: false,
        zoomControl: true
      }
      var map = new google.maps.Map(mapArea, mapOptions);

      var markerOptions = {
        map: map,
        position: mapPosition,
        icon: 'https://maps.google.com/mapfiles/ms/micons/blue-dot.png',

      };
      var marker = new google.maps.Marker(markerOptions);

      <% @posts.each do |post|%>
        var newPosition ={lat: <%=post.latitude%>,lng: <%=post.longitude%>}
        var newmarker = {
          map: map,
          position: newPosition,
          icon: 'https://maps.google.com/mapfiles/ms/micons/red-dot.png',

        };
        var marker = new google.maps.Marker(newmarker);
      <% end %>
      console.log(data[0]);
      }
  </script>