<% if logged_in?%>
  <div id ="follow-<%= user.id %>">
    <% if current_user != user %>
      <% if user.followed_by?(current_user) %>
        <p><%=link_to "フォロー中", user_relationships_path(user.id), class: "btn-following",method: :delete, remote: true %></p>
      <% else %>
        <p><%=link_to "フォローする", user_relationships_path(user.id), class: "btn-follow", method: :post, remote: true %></p>

      <% end %>
    <% end %>
  </div>
<% end %>