<li>
  <%= render "posts/post_photo",post: post%>
  <span><%= link_to post.country,"#" %></span>
  <%= render "shared/date",post: post %>
  <%= render "shared/liked_part",post: post %>
  <hr>
</li>




