<% provide(:title, "#{@user.name}をフォローしているユーザー") %>
<% breadcrumb :followers,@user %>

<div class="container">
  <p class="offset-md-3 col-md-6 text-center title-common">フォロワー</p> 
  <div class="row">
    <div class = "container">
    <%if @users.count==0%>
      <p class="text-center">まだフォローされていません</p>
    <%else%>
      <%= render 'user',users: @users%>
    <%end%>
    </div>
  </div>
</div>