<% provide(:title, 'ユーザー') %>
<% breadcrumb :users %>

<div class="container">
  <p class="offset-md-3 col-md-6 text-center title-common">ユーザー</p> 
  <div class="row">
    <div class = "container">
      <%= render 'user',users: @users%>
    </div>
  </div>
</div>