<div class="field p-2">
  <%= f.label :photo %>
    <div id="photo_field" onClick="$('#file').click()" >
      <% if @post.photo.url.present? && @post.photo.url!="default.png" %>
        <%= image_tag(@post.photo.url,class: "post-photo") %>
      <% else %>
      
      <% end %>
    </div>
  <%= f.file_field :photo, style: "display:none;", id: "file" %>
  （必）Ajax調整
</div>

<script>
$(function(){
  $fileField = $('#file')
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("photo_field");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "post-photo",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});
</script>