<% provide(:title, "編集") %>
<% breadcrumb :edit_post,@post %>

<%= render "post_form",post: @post %>
<% if current_user==@post.user_id%>

<% end %>
  <p class="offset-3 col-6 text-center"> <%= button_to "削除する", @post, method: :delete %></p>