<% provide(:title, "編集") %>
<% breadcrumb :edit_post,@post %>

<div class="container" style="display: inline-block;">
  <h3 class="text-center">ユーザー情報の編集</h3>
  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "post_form",post: @post %>
    </div>
  </div>
  <span class="text-center"> <%= button_to "削除する", "/posts/#{@post.id}", method: :delete, class: "btn btn-secondary" %></span>
</div>
