/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap"; 
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');



body{ 
  background-color:#dddddd;
  color : #000000;
  font-size:100%;
  // font-family: 'Noto Sans JP', sans-serif;

}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.contents{
  width:700px;
  min-height:300px;
  color : #000000;
  margin-right: auto;
  margin-left : auto;
  margin-top:1.5%; 
  margin-bottom: 1.5%;
  background-color :#ffffff;
  font-size: 1.6em;
  line-height: 1.5em;
  border-radius: 15px;
}
.content-box{
  background: #ccc;
}



 /* header */

 #header{
  z-index:9999;
  height:60px; 
  padding: 6px;
  font-size: 14px;
  line-height: 1.0;
  color: hsla(0,0%,100%,.7);
  background-color: #24292e;
}

.header_left{
  margin:0px;
  font-size: 25px;
  padding: 10px;
  float: left;
}

.header_right{
  padding: 10px;
  float:right;
}
.header_right li{
  padding: 6px;
  // float: left;
  // display: table-cell;
  // vertical-align: middle;
}

.header_user_avatar{
  width: 25px;
  height: 25px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

ul.inl_block{
  margin: 0px;
}
ul.inl_block li{
  display: inline-block;
  vertical-align: middle;
  // padding: 5px;
}

/* 基本 */
.notice{
  margin:0;
  text-align: center;
}
.alert{
  text-align: center;
  margin:0;
  padding:0;
}

textarea {
  resize: vertical;
}


.img_circle{
  border-radius: 100px;
}

.title-common{
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 10px;
  font-size: 35px;
}

.padd-bottom{
  padding-bottom: 20px;
}

.padd-top{
  padding-top: 20px;
}

.central{
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-vert{
  display: flex;
  align-items: center;
}

.central-hori{
  display: flex;
  justify-content: center;
}

.large-font{
  font-size: 35px;
}

.font-standard{
  font-size: 20px;
}

/* 黒点なし */
ul {
  margin:0px;
  list-style: none;
}

// トップページ
.home_table{
  // margin:30px;
  padding: 20px;
  font-size: 20px;
}



/* 入力フォーム */

#img_field {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
 
#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}
 
#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}
 
#img_field:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-out;
  opacity: 0.9;
}
 
#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.user-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}


#photo_field {
  width: 400px;
  height: 300px;
}

#photo_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}
 
#photo_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  // top: -90px;
  // right: 15px;
}
 
#photo_field:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-out;
  opacity: 0.9;
}
 
#photo_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.post-photo{
  width: 400px;
  height: 300px;
}

// post

.photo-show{
  width: 800px;
  height: 600px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  object-fit: cover;
}

.photo-flex{
  width: 100%;
  height: 100%;
}

// ユーザー、国一覧のボタン
#g_navi ul {
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
	padding: 0 3%;
	width: 94%;
	max-width: 960px; 
}
	#g_navi ul li {
    font-size: 25px;
		position: relative;
		display: inline-block;
		width: 50%;
	}
		#g_navi ul li a {
	 		display: block;
			padding: 17px 5%;
			width: 90%;
      color: rgb(42, 168, 190);
      background-color: rgb(206, 255, 255);
			text-align: center;
      text-decoration: none;
		}

  .menu_btn{
    font-size: 25px;
		position: relative;
		display: inline-block;
    width: 50%;
    background-color: darkgrey;
  }

// 国一覧

.country-card{
  padding:20px 0px 15px 0px;
  margin:5px 0px;
  background: rgb(233, 233, 233);
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

// ユーザー一覧

.user-card{
  padding-top:20px;
  padding-bottom: 20px;
  margin-top:10px;
  margin-bottom: 10px;
  background: rgb(233, 233, 233);
  box-shadow: 0px 4px 4px rgba(0,0,0,.4);

}

// 訪問国

.visited-card{
  padding-top:20px;
  padding-bottom: 20px;
  margin-top:10px;
  margin-bottom: 10px;
  background: rgb(233, 233, 233);
  box-shadow: 0px 4px 4px rgba(0,0,0,.4);

}

// visitedの画像
.visited-user{
  padding-top:20px;
  padding-left:20px;
}

.photo-visited{
  width: 200px;
  height: 170px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  object-fit: cover;
}

.visited-font{
  font-size: 20px;

}

#date{
  color: dimgray;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#liked{
  color: dimgray;
  font-size: 16px;
}

#date_liked{
  color: dimgray;
  font-size: 20px;
}

.block-left{
  float: left;
}

.block{
  display: block;
}
// フォローボタン

.btn-follow {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(120, 167, 255);
  // background-image: linear-gradient(#6794fd79 50%, #67cfff7e 100%);
  background-color:  #e2e2e271;
  transition: .4s;
  border-color: rgb(120, 167, 255);
  border-style: solid;
}

.btn-follow:hover {
  // background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
  background-color:  #6795fd;

}

.btn-following {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(120, 132, 148);
  background-color:  #7da3fc79;

  transition: .4s;
  border-color: rgb(164, 196, 255);
  border-style: solid;
}

.btn-following:hover {
  // background-image: linear-gradient(#6795fd 50%, #67ceff 70%);
  background-color:  #6795fd;

}


// 国情報  ?????

country-info{
  border-color: dark;
  border-style: solid;
}



.test-frame{
  border-color: dark;
  border-style: solid;
}

.area-size{

  width: 440px;
  height: 60px;
}
