/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap"; 

 body{ 
  background-color:#dddddd;
  color : #000000;
  font-size:100%;
}

.contents{
  width:700px;
  min-height:300px;
  color : #000000;
  margin-right: auto;
  margin-left : auto;
  margin-top:1.5%; 
  margin-bottom: 1.5%;
  background-color :#ffffff;
  font-size: 1.6em;
  line-height: 1.5em;
  border-radius: 15px;
}



 /* header */

 #header{
  top:0;
  margin:0px;
  width:100%;
  background-color:rgb(199, 199, 214);
  z-index:9999;
  height:50px; 
}

.header_left{
  margin:0px;
  font-size: 25px;
  padding: 10px;
  float: left;
}

.header_right{
  padding: 10px;
  float:right;
}
.header_right li{
  padding: 10px;
  float: left;
}

/* 基本 */

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

/* 黒点なし */
ul {
  margin:0px;
  list-style: none;
}

/* 入力フォーム */
/* .form_new {;} */
