// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.icon_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.user-total{
  margin: 20px;
}
.user_info {
  align-items: center;
}

.user_avatar {
  // align-items: end; /* アイテムを末尾にまとめる */ 
  align-items:flex-end;
}

.margin{
  margin:5px;
}

#result {
  max-width: 150px;

}


input[type=file]{
  display: none;
  width:100px;
  color:transparent;
}
.image_input_btn{
  display: block;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}